<!-- Results Section -->
<section id="results" class="container song-show text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<div class='row'>
        		<div class='col-md-12'>
					
                    <div class="profile-img-container">
                        <img class="song-img img-thumbnail img-responsive" src="<%= @song.image %>">
                        <a onClick="play();" id="play-control">
                            <span class="fa fa-play fa-5x"></span>
                        </a>

                    </div>

        		</div>
        	</div>
            <br>
        	<div class='row'>
        		<div class='col-md-12'>
        			<h2> <%= @song.title %> - <%= @song.artist %></h2>
        			<% if @song.score >= 0 %>
        				<h1 class="yes">IS A BANGER</h1>
        			<% else %>
        				<h1>IS NOT A BANGER</h1>
        			<% end %>
        		</div>
        	</div>
        	<% if user_signed_in? && !current_user.voted_on?(@song) %>
        	<span>Do you think this song is a banger? </span>
        	<div class='row'>
        		<%= link_to "YES", upvote_path(id: @song), method: :put, class: 'btn btn-default' %>
				<%= link_to "NO!", downvote_path(id: @song), method: :put, class: 'btn btn-default' %>
        	</div>
        	<% elsif user_signed_in? && current_user.voted_on?(@song) %>
        	<% if @song.score >= 0 %>
				<span><%= ((@upvotes.to_f / @total.to_f)*100).round(2) %>% of people agree.</span>
			<% else %>
				<span><%= ((@downvotes.to_f / @total.to_f)*100).round(2) %>% of people agree.</span>
			<% end %>
        	<% elsif !user_signed_in? %>
        	<span>Do you think this song is a banger? </span>
        	<div class='row'>
        		<%= link_to "Login to Vote", new_user_session_path, class: 'btn btn-default' %>
        	</div>
        	<% end %>
        	<!-- <span>Yes: <%= @upvotes %> No: <%= @downvotes %></span> -->
            <br>
            <a href="<%= @spotify_play_url %>">Play on Spotify</a>
        </div>
    </div>
</section>
<script type="text/javascript">
        var audio = new Audio('<%= @song.preview %>');
        function play() {
            audio.play();
            $('#play-control').replaceWith("<a onClick=\"stop();\" id=\"play-control\"><span class=\"fa fa-pause fa-5x\"></span></a>")
        }
        function stop() {
            audio.pause();
            $('#play-control').replaceWith("<a onClick=\"play();\" id=\"play-control\"><span class=\"fa fa-play fa-5x\"></span></a>")
        }
</script>