<!-- Results Section -->
<section id="results" class="container content-section text-center">
	<% results.each do |result| %>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<div class='row'>
        		<div class='col-md-12'>
        			<%# if result[:tracks][0] %>
					<!-- <img src="<%#= result[:tracks][0][:release_image] %>"> -->
					<%# else %>
					<!-- <img src="/assets/default.png"> -->
					<%# end %>
                    <img class="result-img" src="<%= result.album.images.first["url"] %>">
        		</div>
        	</div>
            <br>
        	<div class='row'>
        		<div class='col-md-12'>
        			<h1> <%= result.name %> - <%= result.artists.first.name %></h1>
        			
        		</div>
        	</div>
        	<div class='row'>
        		<div class='col-md-12'>
        			<%= form_for(Song.new) do |f| %>
					  <%= f.hidden_field :title, value: result.name %>
					  <%= f.hidden_field :artist, value: result.artists.first.name %>
					  <%= f.hidden_field :spotify, value: result.id %>
					  <%= f.hidden_field :image, value: result.album.images.first["url"] %>
					  <%= f.hidden_field :preview, value: result.preview_url
					  <%= f.hidden_field 'spotify_uri', value: result.uri  %>
					  <%= f.submit "CHOOSE", :class => 'btn btn-default' %>
					<% end %>
        		</div>
        	</div>
        	<hr>
        </div>
    </div>
    <% end %>
</section>



